@font-face {
    font-family: "AdelleCyrillic";
    src: url("../../fonts/AdelleCyrillic.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "DelaGothicOne";
    src: url("../../fonts/DelaGothicOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Geometria-Medium";
    src: url("../../fonts/Geometria-Medium.ttf") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Geometria";
    src: url("../../fonts/Geometria.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}